@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import url('https://rsms.me/inter/inter.css');

@keyframes highlight {
    from {
        background-color: var(--hightlight);
    }
    to {
        background-color: transparent;
    }
}

:root {
    --sky: #add0ef;
    --light-blue: #70beef;
    --blue: #0088cc;
    --yellow: #f0b806;
    --red: #dc3545;
    --green: #12C277;
    --light: #f8f8f0;
    --hightlight: rgba(240, 168, 51, 0.2);
    --primary: var(--blue);
    --secondary: var(--light-blue);
}

*, *::before *::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: #222;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Miriam Libre', 'Inter', sans-serif;
    font-weight: 700;
}

a {
    color: var(--blue);
}

.master {
    flex: 1 0 auto;
}

.header {
    background-color: rgba(240, 240, 240, 0.8);
    z-index: 2;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title a {
    color: currentColor;
    text-decoration: none;
}

.nav-primary .nav-link {
    padding: 1rem 0;
    color: currentColor;
    border-bottom: 3px solid transparent;
    transition: border-bottom .15s;
}

.nav-primary .nav-link:not(:last-of-type) {
    margin-right: 3rem;
}

.nav-primary .nav-link.active,
.nav-primary .nav-link:hover {
    border-bottom-color: var(--primary);
}

.container-md {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
}

.container-sm {
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

.steps-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: .5rem 0;
    font-size: .9rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    z-index: 2;
}

.steps-nav .nav-link {
    color: currentColor;
}

.steps-nav .nav-link:hover {
    color: var(--blue);
}

.timeline {
    --offset: 5rem;
    --gap: 3rem;
    --bullet-size: 14px;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.timeline-item {
    position: relative;
    display: flex;
    padding-top: var(--offset);
    margin-top: calc(var(--offset) * -1);
    margin-bottom: var(--gap);
}

.timeline-item::before {
    content: '';
    flex: 1 0 auto;
    position: relative;
    margin-top: .5rem;
    margin-right: 3rem;
    width: var(--bullet-size);
    height: var(--bullet-size);
    background-color: currentColor;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: calc(var(--offset) + var(--bullet-size) * 1.5 + var(--gap) / 2);
    left: calc(var(--bullet-size) / 2 - 1px);
    bottom: calc((.5rem + var(--gap)) / -2);
    width: 2px;
    background-color: #999;
    border-radius: 2px;
}


.timeline-item:target .timeline-item-content {
    padding: 1rem;
    border-radius: .25rem;
    background-color: var(--hightlight);
    animation: highlight 2s 1s;
}

.timeline-item-title {
    display: inline-block;
    margin-bottom: 0;
    padding: .4rem .6rem;
    width: fit-content;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    background-color: #222;
    border-radius: .25rem;
    transition: background-color .15s;
}

.timeline-item-title:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary);
}

.timeline-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(var(--gap) / 2);
}

.concern-badge {
    padding: .4em .6em;
    font-size: .8rem;
    line-height: 1;
    color: #fff;
    border-radius: .25rem;
}

.concern-badge:hover {
    color: #fff;
}

.concern-badge:not(:last-of-type) {
    margin-right: 1rem;
}

.concern-badge.economic {
    background-color: var(--yellow);
}

.concern-badge.trespassing {
    background-color: var(--green);
}

.concern-badge.ethical {
    background-color: var(--blue);
}

.concern-badge.political {
    background-color: #ef795a;
}

.timeline-text {
    margin-bottom: 0;
}

.step-header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.arrow-back {
    font-size: 2rem;
    vertical-align: middle;
    color: currentColor;
}

.arrow-back:hover {
    color: currentColor;
    text-decoration: none;
}

a.arrow-back {
    border-radius: .25rem;
    transition: background-color .2s;
}

a.arrow-back:hover {
    background-color: rgba(100, 100, 100, .1);
}

.step-header-item:nth-child(2) {
    flex-grow: 1;
}

.step-header-item:first-child,
.step-header-item:last-child {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
}

.step-banner {
    margin-bottom: 2rem;
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

/* Markdown body */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.markdown-body > :first-child {
    margin-top: 0;
    margin-bottom: 2rem;
}

.markdown-body h1 {
    margin: auto;
    padding-bottom: 1rem;
    width: fit-content;
    font-size: 2rem;
    border-bottom: 2px solid #ddd;
}

.markdown-body h1:first-child {
    margin-bottom: 3rem;
}

.markdown-body h1:not(:first-child) {
    margin-top: 3rem;
}

.markdown-body h2 {
    font-size: 1.5rem;
}

.markdown-body h3 {
    font-size: 1.25rem;
}

.markdown-body h4 {
    font-size: 1rem;
}

.markdown-body h5 {
    font-size: .875rem;
}

.markdown-body h6 {
    color: #6a737d;
    font-size: .85rem;
}

.markdown-body img {
    max-width: 100%;
    margin-bottom: 1rem;
}

.markdown-body blockquote {
    padding: 0 1em;
    font-weight: 300;
    color: #6a737d;
    border-left: .25em solid #bbc3cb;
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-body blockquote > :first-child {
    margin-top: 0;
}

.references {
    margin-top: 3rem;
}

.references-list {
    font-size: .85rem;
}

.references-list li:not(:last-of-type) {
    margin-bottom: .5rem;
}

.solution {
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgba(18, 194, 119, .1);
    border-radius: .25rem;
}

.solution h2:first-child {
    margin-top: 0;
}

.solution p:last-child {
    margin-bottom: 0;
}

.surveillance-icons {
    display: flex;
    margin-top: 3rem;
}

.surveillance-icon-wrapper {
    height: 3rem;
}

.surveillance-icon-wrapper:not(:last-child) {
    margin-right: 1rem;
}

.surveillance-icon-wrapper img {
    height: 100%;
}

.concern-img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

.surveillance-type {
    padding: .5rem 0;
}

.surveillance-type:target {
    padding: .5rem;
    margin: 0 -.5rem;
    border-radius: .25rem;
    background-color: var(--hightlight);
    animation: highlight 2s 1s;
}

.surveillance-type-icon {
    width: 2rem;
}

.definition {
    padding: 1rem;
    margin: 0 -1rem;
    border-radius: .25rem;
}

.definition:target {
    background-color: var(--hightlight);
    animation: highlight 2s 1s;
}

.footer {
    flex-shrink: 0;
    margin-top: 3rem;
    padding: 5rem 0 4rem;
    font-size: .8rem;
    background-color: #f2f2f2;
}

.particles-js-canvas-el {
    position: absolute;
    z-index: -1;
}
