@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i');

:root {
    --sky: #add0ef;
    --light-blue: #70beef;
    --blue: #4d9eef;
    --navy: #1e232b;
    --yellow: #f0b806;
    --red: #dc3545;
    --green: #12C277;
    --light: #f8f8f0;
    --primary: var(--light-blue);
    --secondary: var(--sky);
}

*, *::before *::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', Arial, sans-serif;
    color: var(--light);
    background-color: var(--navy);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

.master {
    flex: 1 0 auto;
}

.header {
    background-color: rgba(30, 35, 43, .9);
    border-bottom: 1px solid #aaa;
    z-index: 2;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title a {
    color: currentColor;
    text-decoration: none;
}

.nav-primary {
    margin-bottom: -1px;
}

.nav-primary .nav-link {
    padding: 1rem 0;
    color: currentColor;
    border-bottom: 3px solid transparent;
    transition: border-bottom .15s;
}

.nav-primary .nav-link:not(:last-of-type) {
    margin-right: 3rem;
}

.nav-primary .nav-link.active,
.nav-primary .nav-link:hover {
    border-bottom-color: var(--primary);
}

.container-md {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
}

.container-sm {
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

.steps-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
    background-color: var(--navy);
    z-index: 2;
}

.timeline {
    --gap: 3rem;
    --bullet-size: 14px;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.timeline-item {
    position: relative;
    margin-bottom: var(--gap);
    display: flex;
}

.timeline-item::before {
    content: '';
    flex: 1 0 auto;
    position: relative;
    margin-top: .5rem;
    margin-right: 3rem;
    width: var(--bullet-size);
    height: var(--bullet-size);
    background-color: currentColor;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: calc(.5rem + var(--bullet-size) + var(--gap) / 2);
    left: calc(var(--bullet-size) / 2 - 1px);
    bottom: calc((.5rem + var(--gap)) / -2);
    width: 2px;
    background-color: #999;
    border-radius: 2px;
}

.timeline-item-content {
    display: block;
    color: currentColor;
}

.timeline-item-content:hover {
    color: currentColor;
    text-decoration: none;
}

.timeline-item-title {
    display: inline-block;
    margin-bottom: 0;
    padding: .4rem .6rem;
    width: fit-content;
    font-weight: 400;
    line-height: 1;
    color: var(--navy);
    background-color: var(--light);
    box-shadow: inset 0 0 0 0 var(--blue);
    transition: box-shadow .2s ease-in .1s;
}

.timeline-item-content:hover .timeline-item-title {
    box-shadow: inset 40em 0 0 0 var(--sky);
}

.timeline-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(var(--gap) / 2);
}

.concern-badge {
    padding: .4em .6em;
    font-size: .8rem;
    line-height: 1;
    cursor: default;
}

.concern-badge:not(:last-of-type) {
    margin-right: 1rem;
}

.concern-badge.economic {
    background-color: var(--yellow);
}

.concern-badge.social {
    background-color: var(--green);
}

.concern-badge.ethical {
    background-color: var(--blue);
}

.concern-badge.political {
    background-color: #ef795a;
}

.timeline-text {
    margin-bottom: 0;
}

.step-header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.arrow-back {
    font-size: 2rem;
    vertical-align: middle;
}

.arrow-back,
.arrow-back:hover {
    color: currentColor;
    text-decoration: none;
}

.step-header-item:nth-child(2) {
    flex-grow: 1;
}

.step-header-item:first-child,
.step-header-item:last-child {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
}

/* Markdown body */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    /*font-weight: 600;*/
}

.markdown-body > :first-child {
    margin-top: 0;
    margin-bottom: 2rem;
}

.markdown-body h2 {
    font-size: 1.5rem;
}

.markdown-body h3 {
    font-size: 1.25rem;
}

.markdown-body h4 {
    font-size: 1rem;
}

.markdown-body h5 {
    font-size: .875rem;
}

.markdown-body h6 {
    color: #6a737d;
    font-size: .85rem;
}

.markdown-body blockquote {
    padding: 0 1em;
    color: #86d4cd;
    border-left: .25em solid #bbc3cb;
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-body blockquote > :first-child {
    margin-top: 0;
}

.references {
    margin-top: 3rem;
}

.references-list {
    font-size: .85rem;
}

.references-list li:not(:last-of-type) {
    margin-bottom: .5rem;
}

.solution {
    margin-top: 3rem;
    padding: 2rem;
    color: var(--navy);
    background-color:var(--light);
}

.solution h2:first-child {
    margin-top: 0;
}

.solution p:last-child {
    margin-bottom: 0;
}

.surveillance-icons {
    display: flex;
    margin-top: 3rem;
}

.surveillance-icon {
    height: 3rem;
}

.surveillance-icon:not(:last-child) {
    margin-right: 1rem;
}

.surveillance-icon img {
    height: 100%;
}

.concern-title {
    text-align: left;
}

.concern-title::after {
    content: '';
    display: block;
    height: 8rem;
    margin-top: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.concern-title.economic::after {
    background-image: url('../images/concerns/economic.jpg');
}

.concern-title.social::after {
    background-image: url('../images/concerns/social.jpg');
}

.concern-title.ethical::after {
    background-image: url('../images/concerns/ethical.jpg');
}

.concern-title.political::after {
    background-image: url('../images/concerns/political.jpg');
}

.footer {
    flex-shrink: 0;
    margin-top: 2rem;
    padding: 2rem 0 4rem;
    font-size: .9rem;
}

.particles-js-canvas-el {
    position: absolute;
    z-index: -1;
}
