---
layout: default
title: Journée
permalink: /steps/
id: steps
---


<nav class="nav steps-nav">
    {% for step in site.steps %}
    <a class="nav-link"
       href="#{{ step.permalink | remove_first: '/'}}">{{ step.time | date: "%H:%M" }}</a>
    {% endfor %}
</nav>

<div class="timeline container-md">
    {% for step in site.steps %}
    <div class="timeline-item" id="{{ step.permalink | remove_first: '/'}}">
        <div class="timeline-item-content">
            <div class="timeline-item-header">
                <a class="timeline-item-title"
                   href="{{ site.baseurl }}{{ step.permalink }}">
                    {{ step.time | date: "%H:%M" }}
                </a>
                <div class="d-flex">
                    {% for concern in step.concerns %}
                    <a class="concern-badge {{ concern }}"
                       href="{{ site.baseurl }}/concerns#{{ site.data.dict[concern] }}">
                        {{ site.data.dict[concern] }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <p class="timeline-text">{{ step.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>