---
layout: default
title: Journée
permalink: /steps/
id: steps
---


<nav class="nav steps-nav">
    {% for step in site.steps %}
    <a class="nav-link" href="#{{ step.permalink | remove_first: '/'}}">
        {{ step.time | date: "%H:%M" }}
    </a>
    {% endfor %}
</nav>

<div class="timeline container-md">
    {% for step in site.steps %}
    <div class="timeline-item" id="{{ step.permalink | remove_first: '/'}}">
        <a class="timeline-item-content"
           href="{{ site.baseurl }}{{ step.permalink }}">
            <div class="timeline-item-header">
                <h6 class="timeline-item-title">
                    {{ step.time | date: "%H:%M" }}
                </h6>
                <div class="d-flex">
                    {% for issue in step.issues %}
                    <div class="timeline-item-issue-badge {{ issue }}">
                        {{ site.data.dict[issue] }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <p class="timeline-text">{{ step.description }}</p>
        </a>
    </div>
    {% endfor %}
</div>