---
layout: default
---

<div class="container-md mt-4">
    <div class="step-header">
        <div class="step-header-item">
            <a class="material-icons arrow-back"
               href="{{ site.baseurl }}/steps/#{{ page.permalink | remove_first: '/' }}">arrow_back</a>
        </div>
        <h1 class="step-header-item m-0 text-center">{{ page.time }}</h1>
        <div class="step-header-item d-flex justify-content-end">
            {% for concern in page.concerns %}
            <div class="concern-badge {{ concern }}">
                {{ site.data.dict[concern] }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="markdown-body">

        {{ content }}

        <!-- Surveillance icons -->
        <div class="surveillance-icons">
            {% for type in page.surveillance %}
            <div class="surveillance-icon {{ type }}"
                 data-toggle="tooltip" data-placement="bottom"
                 title="{{ site.data.dict[type] | capitalize }}">
                <img src="{{ site.baseurl }}/images/icons/{{ type }}.png"
                     alt="{{ site.data.dict[type] }}">
            </div>
            {% endfor %}
        </div>

        <!-- References -->
        <div class="references">
            <ol class="references-list">
                {% for reference in page.references %}
                <li>
                    {{ reference.author }}.
                    <a href="{{ reference.url }}">{{ reference.title }}</a><!-- avoid space
        -->{% if reference.year %}, {{ reference.year }}{% endif %}.
                    {% if reference.website %}<em>{{ reference.website }}</em>.{% endif %}
                    {% if reference.note %}{{ reference.note }}.{% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>