---
layout: default
---

<div class="container-md">
    <div class="step-header">
        <div class="step-header-item">
            <a class="arrow-back" href="{{ site.baseurl }}/steps/">←</a>
        </div>
        <h1 class="step-header-item m-0 text-center">{{ page.time }}</h1>
        <div class="step-header-item"></div>
    </div>

    <div class="markdown-body">

        {{ content }}


        <div class="references">
            <ol class="references-list">
                {% for reference in page.references %}
                <li>
                    {{ reference.author }}.
                    <a href="{{ reference.url }}">{{ reference.title }}</a><!-- avoid space
        -->{% if reference.year %}, {{ reference.year }}{% endif %}.
                    {% if reference.website %}<em>{{ reference.website }}</em>.{% endif %}
                    {% if reference.note %}{{ reference.note }}.{% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>